/Guía_tres/nbproject/private/
/Guía_tres/build/
/subprogramas/nbproject/private/
/subprogramas/build/
/Pruebas/nbproject/private/
/Pruebas/build/
/Guía_5_Vectores_Matrices/nbproject/private/
/Guía_5_Vectores_Matrices/build/
/Guía_5_Vectores_Matrices/dist/
/POOEj01/nbproject/private/